@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit/Kanit-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Kanit-SemiBold';
    src: url('../fonts/Kanit/Kanit-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Kanit-Bold';
    src: url('../fonts/Kanit/Kanit-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    padding: 0 0;
    margin: 0 0;
    font-family: 'Kanit';
}

#root {
    padding: 0 0;
    margin: 0 0;
}
hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #16191F, #ccc, #16191F);
}
